.brand-link {
    height: 56px;

    .image-sidebar {
        width: 200px;
        background-color: $putih;
        margin-top: 1px;
        padding: 0 10px 0 10px;
        border-radius: 5px;
    }
}