.brand-link {
    height: 56px;

    .image-sidebar {
        width: 200px;
        background-color: $putih;
        margin-top: 1px;
        padding: 0 10px 0 10px;
        border-radius: 5px;
    }
}

.content-dashboard {
    margin-top: 50px;

    .logo-dashboard {
        width: 450px !important;
    }

    .card-row {
        width: 35% !important;

        p {
            font-size: 20px;
        }

        .card-pengerjaan,
        .card-user {
            border-radius: 10px;
            color: $putih;
            border: 1px solid;
            box-shadow: none !important;
            overflow: hidden !important;

            i {
                font-size: 70px;
                margin-right: 30px;
            }
        }

        .card-pengerjaan {
            padding: 20px;
            border-color: $merah-card;
            color: $merah-card;
            transition: .5s;

            i {
                color: $merah-card;
            }

            &:hover {
                border-color: $merah-card;
                color: $putih;
                background-color: $merah-card;
                transition: .5s;
            }

            &:hover i {
                color: $putih;
            }
        }

        .card-user {
            padding: 20px;
            border-color: $biru-card;
            color: $biru-card;
            transition: .5s;

            i {
                color: $biru-card;
            }

            &:hover {
                border-color: $biru-card;
                color: $putih;
                background-color: $biru-card;
                transition: .5s;
            }

            &:hover i {
                color: $putih;
            }
        }
    }
}