.container {
    padding-top: 30px;

    .card-login {
        border-radius: 15px;

        .card-body {
            .img-login {
                width: 540px;
            }

            .logo-aps-login {
                width: 300px;
            }

            .card-center {
                text-align: center !important;
                margin-bottom: 30px;
                margin-top: 60px;

                h1 {
                    margin-top: 20px;
                    font-weight: 600;
                    font-family: Arial, Helvetica, sans-serif;
                    color: $biru;
                    letter-spacing: -2px;
                    font-size: 30px;
                }
            }
        }

        .content-form {

            input {
                width: 75%;
                border-radius: 10px !important;
                outline-color: none !important;
                border-color: $biru-button;
                margin-left: 60px !important;

                &:focus {
                    outline-color: none !important;
                    outline-style: none !important;
                    outline: none !important;
                    outline-width: 0 !important;
                }
            }

            .btn-login {
                width: 75%;
                border-radius: 10px !important;
            }
        }
    }
}